@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <partial name="_Style" />
</head>
<body>
    <div class="container">
        <form>
            <div class="form-group row">
                <div class="col-9 text-center">
                    <p style="font-size:16px">แบบฟอร์มบันทึกการทำงานรายวัน</p>
                </div>
                <div class="col-3 text-center">
                    <img src="https://contrologic.co.th/web/wp-content/uploads/2020/07/contrologic-logo.png" height="50" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <p>End User Name:</p>
                </div>
                <div class="col-10">
                    <p>BTG NM</p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <p>Customer Name:</p>
                </div>
                <div class="col-10">
                    <p>BTG NM</p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <p>Project Name:</p>
                </div>
                <div class="col-10">
                    <p>BTG NM</p>
                </div>
            </div>
            <br />
            <div class="form-group">
                <table class="table table-sm table-bordered table-condensed w-100">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Start</th>
                            <th>Stop</th>
                            <th>Activity</th>
                            <th>Problem & Solution</th>
                            <th>Tomorrow Plan</th>
                            <th>Action By</th>
                            <th>Customer Sign</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

        </form>
    </div>
    <partial name="_Scripts" />
</body>
</html>

