@{
    ViewData["Title"] = "Home Page";
}
<button class="btn btn-primary">
    @Html.ActionLink("Print OT", "PrintReport")
</button>
<button class="btn btn-primary">
    @Html.ActionLink("Print DR", "PrintDailyReport")
</button>
<button class="btn btn-primary">
    @Html.ActionLink("Print OT REQ", "PrintOvertimeRequest")
</button>
